.root {
  font-size: 1.7rem;
  padding-left: 20%;
  padding-right: 20%;
}
.cardsContainer {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2vw;
}
.card {
  max-width: 25vw;
  border: 2px solid rgb(255, 230, 8);
  border-radius: 4vw;
  margin: 0;
  text-align: center;
  position:relative;
padding-bottom: 5vw;
}
.poster {
  max-width:20vw;
}
.text-padding{
  padding-left: 5%;
  padding-right: 5%;
}
.star {
  color: rgb(212, 214, 214);
  font-size: 2rem;
}
.star-click {
  color: rgb(251, 255, 9);
}
.rating {
position:absolute;
bottom:2%;
left: 30%;
}